 <!-- ======= Footer ======= -->
 <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Gp<span>.</span></h3>
              <p>
                Cnr Scanlan & Bultfontein Rd <br>
                Kimberley 8301, SA<br><br>
                <strong>Phone:</strong> +27 23 456 7890<br>
                <strong>Email:</strong> thetechtitans@gmail.com<br>
              </p>
              <div class="social-links mt-3">
             
                <a href="https://www.linkedin.com/in/the-tech-titans-sun-smartsa-5873952b6/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#team">Team</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'faq' %}">Frequently ask questions</a></li>
              
              
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'quotation' %}">Equipment</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://cloud.anylogic.com/model/3aab12c3-5ea9-4dcc-ba2b-dbed40d27d38?mode=SETTINGS&tab=GENERAL">User Dashboard</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{%url 'tailored_recommendations'%}">Tailored Recommendations</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{%url 'results'%}">View Pacakage</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{%url 'consultation'%}">Referrals</a></li>
          </div>


          </div>

        </div>
      </div>
    </div>
  </footer><!-- End Footer -->