{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Imagine a world without<span> loadshedding</span>.</h1>
          <h2>We have. And Here's how.</h2>
        </div>
      </div>

      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="mouse_scroll">
            <div class="mouse">
              <div class="wheel"></div>
            </div>
            <div>
              <span class="m_scroll_arrows unu"></span>
              <span class="m_scroll_arrows doi"></span>
              <span class="m_scroll_arrows trei"></span>
            </div>
        </div>
      </div>

    </div>
  </section><!-- End Hero -->

  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="https://img.freepik.com/free-photo/renewable-energy-captured-by-solar-panels-clear-sky_157027-4440.jpg?w=996&t=st=1707085284~exp=1707085884~hmac=a72f5a427fadc352b100e5d99d8b7abe345093102db2475f3d7d3f7bcdd5eefb" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
          <h3>User dashboard.</h3>
          <p class="fst-italic">
            Welcome to Solar Solutions, where we empower you to embrace clean and sustainable energy through solar solutions. <br> Explore the benefits of the sun for a brighter and greener future.
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> <b>Sustainable and Renewable:</b> Solar energy is a renewable resource and sunlight is abundant.</li>
            <li><i class="ri-check-double-line"></i> <b>Reduced Carbon Footprint:</b> Solar power helps reduce reliance on fossil fuels, lowering carbon emissions. </li>
            <li><i class="ri-check-double-line"></i> <b>Cost Savings:</b> Over time, solar installations can lead to significant cost savings on energy bills.</li>
            <li><i class="ri-check-double-line"></i> <b>Low Maintenance: :</b> Solar panels have minimal maintenance requirements, making them a hassle-free choice.</li>
          </ul>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

   <!-- ======= Features Section ======= -->
   <section id="features" class="features">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="image col-lg-6" style='background-image: url("https://img.freepik.com/free-photo/photovoltaic-solar-power-panel-field-green-clean-alternative-power-energy-concept-ai-generative_123827-23422.jpg?size=626&ext=jpg&uid=R109502905&ga=GA1.1.1388757175.1705018890&semt=sph");' data-aos="fade-right"></div>
        <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
          <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
            <i class="bi bi-battery-charging"></i>
            <h4>Solar Batteries</h4>
            <p>Energy storage solutions to store excess energy for later use.</p>
          </div>
          <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
            <i class="bi bi-brightness-high"></i>
            <h4>Solar Panels</h4>
            <p>High-efficiency solar panels for residential and commercial use.</p>
          </div>
          <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
            <i class="bi bi-plus"></i>
            <h4>Solar Inverters</h4>
            <p>Convert and optimize solar power for your electrical appliances.</p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Features Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        <div>
          <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3498.017553199075!2d24.76171297616834!3d-28.748892872417116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e9b1bb2f510246f%3A0x5cad732280ebdba4!2s26%20Scanlan%20St%2C%20Labram%2C%20Kimberley%2C%208301!5e0!3m2!1sen!2sza!4v1699099263071!5m2!1sen!2sza" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Cnr Scanlan & Bultfontein Rd, Kimberley 8301</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
                <!-- <a href=""><i class="bi bi-linkedin"></i></a> -->
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+27 23 456 7890</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
{% endblock %}