{% extends 'base.html' %}

{% load static %}

{% block content %}
<main id="main">

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center justify-content-center">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
          <div class="col-xl-6 col-lg-8">
            <h1>Imagine a world without<span> loadshedding</span>.</h1>
            <h2>We have. And Here's how.</h2>
          </div>
        </div>

        <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
          <div class="mouse_scroll">
              <div class="mouse">
                <div class="wheel"></div>
              </div>
              <div>
                <span class="m_scroll_arrows unu"></span>
                <span class="m_scroll_arrows doi"></span>
                <span class="m_scroll_arrows trei"></span>
              </div>
          </div>
        </div>

      </div>
    </section><!-- End Hero -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="https://img.freepik.com/free-photo/renewable-energy-captured-by-solar-panels-clear-sky_157027-4440.jpg?w=996&t=st=1707085284~exp=1707085884~hmac=a72f5a427fadc352b100e5d99d8b7abe345093102db2475f3d7d3f7bcdd5eefb" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>Solar Solutions.</h3>
            <p class="fst-italic">
              Welcome to Solar Solutions, where we empower you to embrace clean and sustainable energy through solar solutions. <br> Explore the benefits of the sun for a brighter and greener future.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> <b>Sustainable and Renewable:</b> Solar energy is a renewable resource and sunlight is abundant.</li>
              <li><i class="ri-check-double-line"></i> <b>Reduced Carbon Footprint:</b> Solar power helps reduce reliance on fossil fuels, lowering carbon emissions. </li>
              <li><i class="ri-check-double-line"></i> <b>Cost Savings:</b> Over time, solar installations can lead to significant cost savings on energy bills.</li>
              <li><i class="ri-check-double-line"></i> <b>Low Maintenance: :</b> Solar panels have minimal maintenance requirements, making them a hassle-free choice.</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="image col-lg-6" style='background-image: url("https://img.freepik.com/free-photo/photovoltaic-solar-power-panel-field-green-clean-alternative-power-energy-concept-ai-generative_123827-23422.jpg?size=626&ext=jpg&uid=R109502905&ga=GA1.1.1388757175.1705018890&semt=sph");' data-aos="fade-right"></div>
          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
            <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
              <i class="bi bi-battery-charging"></i>
              <h4>Solar Batteries</h4>
              <p>Energy storage solutions to store excess energy for later use.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bi bi-brightness-high"></i>
              <h4>Solar Panels</h4>
              <p>High-efficiency solar panels for residential and commercial use.</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bi bi-plus"></i>
              <h4>Solar Inverters</h4>
              <p>Convert and optimize solar power for your electrical appliances.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">
    
        <div class="section-title">
          <h2>Services</h2>
          <p>Check our Services</p>
        </div>
    
        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box" style="text-align: center;">
              <div class="icon" style="font-size: 3rem; margin-bottom: 1rem;"><i class="bi bi-bag"></i></div>
              <h4><a href="{% url 'quotation' %}">Quotation</button></a></h4>
              <p>Buy our state-of-the-art SunSmart inverters, batteries and solar panels</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box" style="text-align: center;">
              <div class="icon" style="font-size: 3rem; margin-bottom: 1rem;"><i class="bi bi-speedometer2"></i></div>
              <h4><a href="https://cloud.anylogic.com/model/3aab12c3-5ea9-4dcc-ba2b-dbed40d27d38?mode=SETTINGS&tab=GENERAL">User Dashboard</a></h4>
              <p>Keep track of all your usage, remaining power and solar panel status</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box" style="text-align: center;">
              <div class="icon" style="font-size: 3rem; margin-bottom: 1rem;"><i class="bi bi-robot"></i></div>
              <h4><a href="{%url 'consultation'%}">Tailored Recommendations</a></h4>
              <p>Using our advanced machine learning algorithm, get tailor made recommendations based on your usage.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box" style="text-align: center;">
              <div class="icon" style="font-size: 3rem; margin-bottom: 1rem;"><i class="bi bi-bag"></i></div>
              <h4><a href="{%url 'results'%}">View Packages</a></h4>
              <p>Learn more about our packages</p>
            </div>
          </div>
          <!--<div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 data-aos="zoom-in" data-aos-delay="500">
            <div class="icon-box" style="text-align: center;">
              <div class="icon" style="font-size: 3rem; margin-bottom: 1rem;"><i class="bi bi-robot"></i></div>
              <h4><a href="{%url 'consultation'%}">Referrals</a></h4>
              <p>Get the best solar energy companies</p>
            </div>
          </div>
        </div>
        
      
   
      

        

    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Join Us</h3>
          <p>Impact of Load Shedding on the Manufacturing Industry: Challenges and Solutions <a href="https://www.linkedin.com/pulse/impact-load-shedding-manufacturing-industry-solutions-cunningham?utm_source=share&utm_medium=member_ios&utm_campaign=share_via">Read Article</a></p>
          <form id="forecastForm" action="{% url 'prediction' %}" method="get">
            <input type="hidden" name="longitude_input" id="longitude_input">
            <input type="hidden" name="latitude_input" id="latitude_input">
            <button type="button" class="cta-btn text-black" onclick="getUserLocationAndSubmit()">Get solar power forecast.</button>
          </form>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Check our Portfolio</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Visualisations</li>
             
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-4 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/portfolio_11.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <p style="font-family: Arial, Helvetica, sans-serif; color: orange;text-transform: lowercase">•	The data indicates that Eskom's energy forecasting is fairly accurate, as shown by the close alignment between the Residual Forecast and Residual Demand.</p>
                  <p style="font-family: Arial, Helvetica, sans-serif;color:orange;text-transform: lowercase">•	However, the Dispatchable Generation often falls short of meeting the Residual Demand, leading to periods where demand exceeds supply.</p>
                  <p style="font-family: Arial, Helvetica, sans-serif; color:orange;text-transform: lowercase">•	This shortfall necessitates load shedding to prevent strain on the grid and avoid blackouts.</p>
                  <a href="{% static 'img/portfolio/portfolio_11.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-4 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/portfolio_13.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <p style="font-family: Arial, Helvetica, sans-serif; color: orange;text-transform: lowercase">•The hourly generation graph depicts a steady rise in renewable energy output, particularly from solar sources such as PV and CSP, affirming solar energy's reliability, especially during daylight hours</p>
                  <p style="font-family: Arial, Helvetica, sans-serif; color: orange;text-transform: lowercase">•Solar energy's significant contribution to the renewable energy mix reduces dependence on fossil fuels, emphasizing its environmental benefits as a cleaner and more sustainable alternative.</p>
                  <a href="{% static 'img/portfolio/portfolio_13.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
    
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/portfolio-1.png' %}" class="img-fluid" alt="">
              
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <p style="font-family: Arial, sans-serif; color:orange;text-transform: lowercase">•	The above graph shows that South Africa has faced a significant number of power cuts, with more than 50 days recorded up to July 19, 2022. </p>
                  <p style="font-family: Arial, sans-serif; color:orange;text-transform: lowercase">• This figure represents the highest number of power cuts compared to previous years. Additionally, the graph implies that the situation is still worsening, indicating that the number of days with power cuts may increase further beyond the recorded data</p>
                  <a href="{% static 'img/portfolio/portfolio-1.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                 

                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/portfolio-2.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <p style="font-family: Arial, sans-serif; color:orange;text-transform: lowercase">•Furthermore, the graph below shows that the total energy load shed during these power cuts amounts to 2475 gigawatt-hours (GWh), as depicted in the accompanying graph. This indicates a substantial amount of electricity that was unavailable or deliberately cut off during these periods of power cuts.</p>
                  <p style="font-family: Arial, sans-serif; color:orange;text-transform: lowercase">•Overall, the interpretation suggests that South Africa is facing a significant challenge in maintaining a stable power supply, with the number of power cuts increasing and substantial amounts of electricity being lost during these disruptions.</p>
                  <a href="{% static 'img/portfolio/portfolio-2.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/portfolio-9.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <p style="font-family: Arial, sans-serif; color:orange;">
                    •“Eskom Historical Load Shedding Stages”-represents the historical load shedding stages of Eskom from 2015 to 2023: 
                 </p>
                 <p style="font-family: Arial, sans-serif; color:orange;text-transform: lowercase">•	Red vertical lines represent instances of load shedding; their height indicates the stage/intensity.</p>
                 <p style="font-family: Arial, sans-serif; color:orange;text-transform: lowercase">•	There was minimal load shedding between late 2016 and early 2018.</p>
                 <p style="font-family: Arial, sans-serif; color:orange;text-transform: lowercase">•	From late 2018 through early 2020, there were several instances of higher-stage (up to stage ~4) load shedding.</p>
                 <p style="font-family: Arial, sans-serif; color:orange;text-transform: lowercase">•	Load shedding decreased significantly in mid-2020 but picked up again in late 2021, reaching its highest at stage ~6 in early-to-mid-year.</p>
                
                 <p style="font-family: Arial, sans-serif; color:orange;text-transform: lowercase">This graph provides a clear visual representation of the intensity and frequency of load shedding each year. It appears that load shedding was most severe in 2023, with stages reaching up to 6. This indicates an increase in power cuts or electricity shortages during that period.</h2>
                  <a href="{% static 'img/portfolio/portfolio-9z.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                 
                </div>
              </div>
            </div>
          </div>

         

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/portfolio-4.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <p style="font-family: Arial, sans-serif; color:orange;text-transform: lowercase">•The graph illustrates Eskom's load shedding stages from 2015 to 2023, with red vertical lines denoting instances of load shedding and their height indicating intensity</p>
                  <p style="font-family: Arial, sans-serif; color:orange;text-transform: lowercase">•Notably, load shedding was minimal between late 2016 and early 2018 but surged to its highest level, reaching stage 6, in early-to-mid-2023, highlighting a significant increase in power cuts during that period.</p>
                  <a href="{% static 'img/portfolio/portfolio-4.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                 
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/portfolio-5.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <a href="{% static 'img/portfolio/portfolio-5.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                 
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/portfolio-3.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <a href="{% static 'img/portfolio/portfolio-3.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                 <p style="font-family: Arial, sans-serif; color:orange;text-transform: lowercase" >•The pie chart illustrates the distribution of power sources, with coal stations comprising 80%, followed by renewable energy at 7%, nuclear power at 5%, and pumped water at 2%</p>
                 <p style="font-family: Arial, sans-serif; color:orange;text-transform: lowercase">•Although renewable energy makes up a relatively small portion, there's potential for increased investment to diversify the energy mix and reduce reliance on coal, as indicated by the chart's emphasis on coal dominance and negligible contribution from IPP OCGT.</p>
                 
                </div>
              </div>
            </div>
          </div>

         

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'img/portfolio/portfolio.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <a href="{% static 'img/portfolio/portfolio.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>

                </div>
              </div>
            </div>
          </div>
          
          

          
    </section><!-- End Portfolio Section -->
    <h2><a href="{% url 'pageone' %}">Community Solar simulator</a></h2>
 
    <div class="video-container">
      
      <video controls>
       
          <source src="{% static 'vid/presentation/vid.mp4' %}" type="video/mp4">
      </video>

   </div>
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right" data-aos-delay="100"></div>
          <div class="col-xl-7 ps-4 ps-lg-5 pe-4 pe-lg-1 d-flex align-items-stretch" data-aos="fade-left" data-aos-delay="100">
            <div class="content d-flex flex-column justify-content-center">
              <h3>Transitioning to renewable energy sources</h3>
              <p>
                Using renewable resources like solar energy can help mitigate the negative impacts of load shedding and offer several advantages

              </p>
              <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-emoji-smile"></i>
                    <span data-purecounter-start="0" data-purecounter-end="65" data-purecounter-duration="2" class="purecounter"></span>
                    <p><strong>Clean and sustainable</strong>  Solar energy is a renewable resource that generates electricity without emitting greenhouse gases or other pollutants associated with fossil fuels. It helps reduce carbon emissions, mitigate climate change, and improve air quality.

                      </p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-journal-richtext"></i>
                    <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="2" class="purecounter"></span>
                    <p><strong>Cost-effectiveness</strong> Once installed, solar power systems have low operating costs and can provide a reliable source of electricity over their lifespan, thereby offering long-term cost savings.
                    </p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-clock"></i>
                    <span data-purecounter-start="0" data-purecounter-end="35" data-purecounter-duration="4" class="purecounter"></span>
                    <p><strong>Job creation and economic development</strong> The renewable energy sector, including solar energy, creates jobs in manufacturing, installation, maintenance, and other related industries. Investing in renewable energy infrastructure can stimulate economic growth and promote innovation.
                    </p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-award"></i>
                    <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="4" class="purecounter"></span>
                    <p><strong>Decentralization and grid resiliences</strong> Distributed solar power systems, such as rooftop solar panels, contribute to decentralizing the energy grid, making it more resilient to disruptions like load shedding. By generating electricity closer to the point of consumption, solar energy reduces transmission losses and enhances grid stability.

                    </p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'img/testimonials/testimonials-1.png' %}" class="testimonial-img" alt="">
                <h3>Disruption of daily life</h3>
                <h4>Load shedding is generally considered undesirable for several reasons</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  This disrupts daily life activities such as work, education, communication, and household chores, causing inconvenience and frustration for individuals and businesses.

                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                <h3>Economic impact</h3>
                <h4>Load shedding is generally considered undesirable for several reasons</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Businesses may experience production delays or shutdowns, leading to financial losses. Additionally, the uncertainty and unreliability of electricity supply can deter investment and economic growth.

                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                <h3>Health and safety concerns</h3>
                <h4>Load shedding is generally considered undesirable for several reasons</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Inadequate lighting and heating/cooling systems during load shedding periods can also impact public health and well-being.


                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                <h3>Reduced quality of life</h3>
                <h4>Load shedding is generally considered undesirable for several reasons</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  It may disrupt essential services like water supply (as many water treatment plants rely on electricity), heating, and air conditioning, particularly during extreme weather conditions.

                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
                <h3>Social implications</h3>
                <h4>Load shedding is generally considered undesirable for several reasons</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Load shedding exacerbates existing socioeconomic inequalities, as disadvantaged communities often bear the brunt of electricity shortages. Access to electricity is essential for modern living, and its intermittent availability due to load shedding disproportionately affects vulnerable populations.

                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>Check our Team</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'img/team/team.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                 
                  <a href="https://www.linkedin.com/in/ngonidzashe-tinago-3b0782233/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Ngonidzashe Tinago</h4>
                <span>Data Scientist</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="{% static 'img/team/team1.jpg' %}" class="img-fluid" alt="">
                <div class="social">
               
                  <a href="https://www.linkedin.com/in/risima-dagama-924359293/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Risima Da Gama</h4>
                <span>Data Scientist</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="{% static 'img/team/team2.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  
                  <a href="https://www.facebook.com/praisesibongile.dube?mibextid=LQQJ4d"><i class="bi bi-facebook"></i></a>
                  <a href="https://www.instagram.com/bakang_bongi?igsh=MWF1dThyMzJ0dnFzag%3D%3D&utm_source=qr"><i class="bi bi-instagram"></i></a>
                  
                </div>
              </div>
              <div class="member-info">
                <h4>Praise Muzvondiwa</h4>
                <span>Developer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="{% static 'img/team/team3.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  
                  <a href="https://web.facebook.com/ayanda.yayah.7927/"><i class="bi bi-facebook"></i></a>
                  
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Ayanda Khalo</h4>
                <span>Web Developer</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        <div>
          <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3498.017553199075!2d24.76171297616834!3d-28.748892872417116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e9b1bb2f510246f%3A0x5cad732280ebdba4!2s26%20Scanlan%20St%2C%20Labram%2C%20Kimberley%2C%208301!5e0!3m2!1sen!2sza!4v1699099263071!5m2!1sen!2sza" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Cnr Scanlan & Bultfontein Rd, Kimberley 8301</p>
              </div>

              <div class="email">
                <i class="bi bi-phone"></i>
                <h4>Email:</h4>
                <p><a href=" mailto:thetechtitans62@gmail.com.">thetechtitans62@gmail.com<p>
             
               
                </a>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+27 23 456 7890</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contacts.html" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
  <style>
      .video-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Adjust as needed */
    }

    video {
        max-width: 100%;
        max-height: 100%;
    }
  </style>
  <script>
    const latitudeInput = document.getElementById('latitude_input');
    const longitudeInput = document.getElementById('longitude_input');

    function getUserLocationAndSubmit() {
        getUserLocation();
    }

    function getUserLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(successCallback, errorCallback, {
                enableHighAccuracy: true,
                timeout: 5000,
                maximumAge: 0
            });
        } else {
            console.log("Geolocation is not supported by this browser.");
        }

        function successCallback(position) {
            const latitude = position.coords.latitude;
            const longitude = position.coords.longitude;

            console.log("Latitude: " + latitude);
            console.log("Longitude: " + longitude);

            latitudeInput.value = latitude;
            longitudeInput.value = longitude;

            document.getElementById("forecastForm").submit();
        }

        function errorCallback(error) {
            switch (error.code) {
                case error.PERMISSION_DENIED:
                    console.log("User denied the request for Geolocation.");
                    break;
                case error.POSITION_UNAVAILABLE:
                    console.log("Location information is unavailable.");
                    break;
                case error.TIMEOUT:
                    console.log("The request to get user location timed out.");
                    break;
                case error.UNKNOWN_ERROR:
                    console.log("An unknown error occurred.");
                    break;
            }
        }
    }
</script>
{% endblock %}