{% load static %}
{% block content %}
<html>
    <h1>Visualizations and interpretations</h1>
    <head>
        <img src="{% static 'img/portfolio/portfolio-2.png' %}" class="img-fluid" alt="">
        
    </head>
    <body>
        <p>Furthermore, the graph below shows that the total energy load shed during these power cuts amounts to 2475 gigawatt-hours (GWh), as depicted in the accompanying graph. This indicates a substantial amount of electricity that was unavailable or deliberately cut off during these periods of power cuts.</p>
    <p>Overall, the interpretation suggests that South Africa is facing a significant challenge in maintaining a stable power supply, with the number of power cuts increasing and substantial amounts of electricity being lost during these disruptions.</p>
    </body>
    <p></p>
    </html>
    {% endblock %}