{% load static %}
{% block content %}
<html>
    <h1>Visualizations and interpretations</h1>
    <img src="{% static 'img/portfolio/portfolio-4.png' %}" class="img-fluid" alt="">
    
    <head>
 <p>
    “Eskom Historical Load Shedding Stages”-represents the historical load shedding stages of Eskom from 2015 to 2023: 
 </p>
 <p>•	Red vertical lines represent instances of load shedding; their height indicates the stage/intensity.</p>
 <p>•	There was minimal load shedding between late 2016 and early 2018.</p>
 <p>•	From late 2018 through early 2020, there were several instances of higher-stage (up to stage ~4) load shedding.</p>
 <p>•	Load shedding decreased significantly in mid-2020 but picked up again in late 2021, reaching its highest at stage ~6 in early-to-mid-year.</p>

 <p>This graph provides a clear visual representation of the intensity and frequency of load shedding each year. It appears that load shedding was most severe in 2023, with stages reaching up to 6. This indicates an increase in power cuts or electricity shortages during that period.</h2>
    </head>
</html>

{% endblock %}