<!DOCTYPE html>
<html>
   
<div style="border: 5px solid orange; padding: 10px; margin-bottom: 20px;">
    <h2>Rate</h2>
    <p style="margin: 0;">Cost on average ranges between <span style="border-bottom: 1px solid #ccc;">R60 000</span> and over <span style="border-bottom: 1px solid #ccc;">R250 000</span>.</p>
    <p style="margin: 0;">Cost is determined by:</p>
    <ul style="margin: 0; padding-left: 20px;">
        <li style="margin-bottom: 5px;">Solar Size (in kW)</li>
        <li style="margin-bottom: 5px;">System Type</li>
        <li style="margin-bottom: 5px;">Invertor Type</li>
        <li style="margin-bottom: 5px;">Installation Complexity</li>
    </ul>
    <p style="margin: 0;">Off-Grid: More expensive due to the cost of batteries and additional components required for energy storage. Cost ranges between <span style="border-bottom: 1px solid #ccc;">R150 000</span> and <span style="border-bottom: 1px solid #ccc;">R350 000</span></p>
    <p style="margin: 0;">5kW solar system ranges between <span style="border-bottom: 1px solid #ccc;">R70 000</span> and <span style="border-bottom: 1px solid #ccc;">R140 000</span>. Note a 10kW system produces on average 40-50kWh of power a day, enough to power two small families or one large family.</p>
</div>
</html>