{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Solar Installation Companies in South Africa</title>
</head>
<style> .orange-border { border: 2px solid orange; padding: 10px; margin: 10px;} 
  body {
    background: url('{% static "img/background.png" %}');
    background-size: cover;
    background-position: center;
    h2{
      color:gray;
    }
    
}
</style>

</head>

   

  <div class="orange-border">
  <h1>Solar Installation Companies in South Africa</h1>

  <h2>Gauteng</h2>
  <ul>
    <li>Alumo Energy is a Pretoria-based company that specializes in the design, supply, and installation of solar power systems for homes and businesses. They have a strong reputation for customer service and quality workmanship, and are certified by the South African Photovoltaic Industry Association (SAPVIA)..</li>
    <a href="https://alumo.co.za/">More Info</a>
    <li> Green Way Solar:The Green Way Solar is a Randburg-based company that provides solar power systems for homes, businesses, and farms. They are passionate about helping their customers save money on their electricity bills and reduce their environmental impact. They are also SAPVIA certified and have a 5-star rating on Google..</li>
    <a href="https://www.facebook.com/thegreenwaysolarsa/">More Info</a>
  </ul>

  <h2>Western Cape:</h2>
  <ul>
    <li> AWPower-AWPower is a Cape Town-based company that offers a wide range of solar power solutions, including grid-tied and off-grid systems, battery storage, and hot water heating. They are also certified by SAPVIA and have a 5-star rating on Google. .</li>
    <a href="https://www.awpower.co.za/">More Info</a>
  </ul>

  <h2>KwaZulu-Natal:</h2>
  <ul>
    <li>SolarMD Durban -SolarMD Durban is a Durban-based company that provides solar power systems for homes, businesses, and farms. They are passionate about helping their customers make the switch to clean energy and save money on their electricity bills. They are also certified by SAPVIA.</li>
    <a href="https://www.facebook.com/SolarMD.SA/posts/the-city-of-durban-is-set-to-seek-proposals-for-power-generation-from-any-renewa/2896625493883512/">More Info</a>
  </ul>
  <h2>Limpopo:</h2>
  <ul>
    <li> Sunpower Polokwane- Sunpower Polokwane is a Polokwane-based company that offers a wide range of solar power solutions for homes and businesses. They are committed to providing their customers with reliable and efficient solar power systems. They are also certified by SAPVIA. </li>
    <a href="https://www.facebook.com/SunpowerElectricalProjects/">More Info</a>
  </ul>

<h2>Mpumalanga:</h2>
  <ul>
    <li> Greenworld Nelspruit-Greenworld Nelspruit is a Nelspruit-based company that specializes in the design, supply, and installation of solar power systems for homes and businesses. They are passionate about helping their customers reduce their carbon footprint and save money on their electricity bills. They are also certified by SAPVIA.</li>
    <a href="https://m.facebook.com/p/Green-World-Nelspruit-100031961424449/">More Info</a>
  </ul>
  <h2>Northern Cape:</h2>
  <ul>
    <li>SolarAfrica Kimberley- SolarAfrica Kimberley is a Kimberley-based company that offers a wide range of solar power solutions for homes and businesses. They are committed to providing their customers with high-quality</li>
    <a href="https://solarafrica.com/">More Info</a>
  </ul>
  <h2>North West:</h2>
  <ul>
    <li> Sunworx Rustenburg (Rustenburg): Sunworx Rustenburg is a Rustenburg-based company that specializes in the design, supply, and installation of solar power systems for homes and businesses. They are passionate about helping their customers make the switch to clean energy and reduce their reliance on the grid. They are also certified by SAPVIA.</li>
    <a href="https://www.sunworxsolar.co.za/">More Info</a>
  </ul>
  <h2>Eastern Cape</h2>
  <ul>
    <li> Solareff (Port Elizabeth): Solareff is a Port Elizabeth-based company that offers a wide range of solar power solutions for homes and businesses. They are passionate about helping their customers reduce their environmental impact and save money on their electricity bills. They are also certified by the South African Photovoltaic Industry Association (SAPVIA).</li>
    <a href="https://www.solareff.co.za/">More Info</a>
  </ul>
  <h2>Free State</h2>
  <ul>
    <li>SunSense Bloemfontein (Bloemfontein): SunSense Bloemfontein is a Bloemfontein-based company that specializes in the design, supply, and installation of solar power systems for homes and businesses. They are committed to providing their customers with high-quality products and services at competitive prices. They are also certified by SAPVIA. </li>
    <a href="https://ikuraexpress.co.za/products/sunsense-ultra-spf50-body-sunscreen-clear-500-ml-pack-of-1">More Info</a>
  </ul>
</div>




 


</html>


{% endblock %}