
{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Solar Installation Companies in South Africa</title>
  <style> .orange-border { border: 2px solid orange; padding: 10px; margin: 10px;} 
  body {
    background: url('{% static "img/background.png" %}');
    background-size: cover;
    background-position: center;
    h2{
      color: gray;
    }
}
</style>

</head>

   

  <div class="orange-border">
  <h1>Solar Installation Companies in South Africa</h1>

  <h2>Gauteng</h2>
  <ul>
    <li>SolarSaver: Offers free consultations and quotes, and they have a team of experienced engineers who can design a system that meets your specific needs.</li>
    <a href="">More Info</a>
    <li>SunPower by Sun Exchange: Offers a variety of financing options, including power purchase agreements (PPAs), which allow you to go solar with no upfront costs.</li>
    <a href="">More Info</a>
    <li>Yellowwood Solar: Offers a variety of solar solutions for homes and businesses, including battery storage systems.</li>
    <a href="">More Info</a>
  </ul>

  <h2>Western Cape:</h2>
  <ul>
    <li> Ezi Solar: Offers free consultations and quotes, and they have a team of experienced installers who can get your system up and running quickly.</li>
    <a href="">More Info</a>
    <li>GreenCape: A non-profit organization that offers a variety of resources for homeowners and businesses who are considering going solar, including a directory of qualified solar installers</li>
    <a href="">More Info</a>
    <li>Solareff: Offers a variety of solar solutions for homes and businesses, including battery storage systems and financing options.</li>
    <a href="">More Info</a>
  </ul>


  <h2>KwaZulu-Natal:</h2>
  <ul>
    <li>SolarMD: Offers free consultations and quotes, and they have a team of experienced engineers who can design a system that meets your specific needs.
    </li>
    <a href="">More Info</a>
    <li>Sun Exchange: Offers a unique leasing model that allows you to go solar with no upfront costs.
    </li>
    <a href="">More Info</a>
  </ul>

  <h2>Limpopo:</h2>
  <ul>
    <li>SolarTurtle: Offers free consultations and quotes, and they have a team of experienced engineers who can design a system that meets your specific needs.</li>
    <a href="">More Info</a>
    <li>The Limpopo Business Chamber : A non-profit organization that offers a variety of resources for businesses who are considering going solar, including a directory of qualified solar installers.</li>
    <a href="">More Info</a>
  </ul>

<h2>Mpumalanga:</h2>
  <ul>
    <li>Sunergise: Offers free consultations and quotes, and they have a team of experienced installers who can get your system up and running quickly.</li>
    <a href="">More Info</a>
    <li>The Mpumalanga Chamber of Commerce and Industry: A non-profit organization that offers a variety of resources for businesses who are considering going solar, including a directory of qualified solar installers.
    </li>
    <a href="">More Info</a>

  <h2>Northern Cape:</h2>
  <ul>
    <li>SolarAfrica Kimberley- SolarAfrica Kimberley is a Kimberley-based company that offers a wide range of solar power solutions for homes and businesses. They are committed to providing their customers with high-quality</li>
    <a href="https://solarafrica.com/">More Info</a>
    <li>The Northern Cape Chamber of Commerce and Industry: A non-profit organization that offers a variety of resources for businesses who are considering going solar, including a directory of qualified solar installers.</li>
    <a href="">More Info</a>

  </ul>
  <h2>North West:</h2>
  <ul>
    <li> Sunworx Rustenburg (Rustenburg): Sunworx Rustenburg is a Rustenburg-based company that specializes in the design, supply, and installation of solar power systems for homes and businesses. They are passionate about helping their customers make the switch to clean energy and reduce their reliance on the grid. They are also certified by SAPVIA.</li>
    <a href="https://www.sunworxsolar.co.za/">More Info</a>
  </ul>

  <h2>Eastern Cape</h2>
  <ul>
    <li>Full Potential Solar: Offers free consultations and quotes, and they have a team of experienced installers who can get your system up and running quickly.</li>
    <a href="">More Info</a>
    <li>Regen Energy: Offers a variety of solar solutions for homes and businesses, including battery storage systems.
    </li>
    <a href="">More Info</a>
    <li>The Nelson Mandela Bay Business Chamber: A non-profit organization that offers a variety of resources for businesses who are considering going solar, including a directory of qualified solar installers.</li>
    <a href="">More Info</a>
  </ul>
  <h2>Free State</h2>
  <ul>
    <li>SolarCentric: Based in Bloemfontein, SolarCentric is a dedicated team offering comprehensive solar solutions, including consultations, assessments, and installations. They prioritize customer service and ensure a seamless solar experience.</li>
    <a href="">More Info</a>
    <li>SunGate Energy: Situated in Bloemfontein, SunGate Energy is a passionate company providing</li>
    <a href="">More Info</a>
    <li>SunGate Energy: Situated in Bloemfontein, SunGate Energy is a passionate company providing</li>
   