{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solar Solutions in South Africa</title>
</head>
<style> .orange-border { border: 2px solid orange; padding: 10px; margin: 10px;} 
    body {
      background: url('{% static "img/background.png" %}');
      background-size: cover;
      background-position: center;
      h2{
        color: gray;
      }
  }
  </style>
  
  </head>
  
     
  
    <div class="orange-border">
<body>
    <h1>Solar Solutions in South Africa</h1>
    
    <h2>Gauteng:</h2>
    <ul>
        <li><a href="http://www.solar-saver.net" target="_blank">SolarSaver</a>: Offers free consultations and quotes, and they have a team of experienced engineers who can design a system that meets your specific needs.</li>
        <li><a href="https://www.sunexchange.com/" target="_blank">SunPower by Sun Exchange</a>: Offers a variety of financing options, including power purchase agreements (PPAs), which allow you to go solar with no upfront costs.</li>
        <li>Yellowwood Solar: Offers a variety of solar solutions for homes and businesses, including battery storage systems.</li>
    </ul>

    <h2>Western Cape:</h2>
    <ul>
        <li><a href="https://www.ezisolar.co.za/" target="_blank">Ezi Solar</a>: Offers free consultations and quotes, and they have a team of experienced installers who can get your system up and running quickly.</li>
        <li>GreenCape: A non-profit organization that offers a variety of resources for homeowners and businesses who are considering going solar, including a directory of qualified solar installers.</li>
        <li><a href="https://www.solareff.co.za/" target="_blank">Solareff</a>: Offers a variety of solar solutions for homes and businesses, including battery storage systems and financing options.</li>
    </ul>

    <h2>KwaZulu-Natal:</h2>
    <ul>
        <li><a href="https://www.solarmd.co.za/" target="_blank">SolarMD</a>: Offers free consultations and quotes, and they have a team of experienced engineers who can design a system that meets your specific needs.</li>
        <li><a href="https://thesunexchange.com/" target="_blank">Sun Exchange</a>: Offers a unique leasing model that allows you to go solar with no upfront costs.</li>
        <li>The Durban Green Building Council: A non-profit organization that offers a variety of resources for homeowners and businesses who are considering going solar, including a directory of qualified solar installers.</li>
    </ul>
    <h2>Eastern Cape:</h2>
    <ul>
        <li><a href="https://www.fullpotentialsolar.co.za/" target="_blank">Full Potential Solar</a>: Offers free consultations and quotes, and they have a team of experienced installers who can get your system up and running quickly.</li>
        <li>Regen Energy: Offers a variety of solar solutions for homes and businesses, including battery storage systems.</li>
    </ul>
    <h2>Northen Cape</h2>
    <ul>
        <li>SolarAfrica: Offers free consultations and quotes, and they have a team of experienced engineers who can design a system that meets your specific needs.</li>
        <li>Solareff: Offers a variety of solar solutions for homes and businesses, including battery storage systems and financing options.</li>
    </ul>
    <h2>Mpumalanga:</h2>
    <ul>
        <li><a href="https://www.sunergise.com/" target="_blank">Sunergise</a>: Offers free consultations and quotes, and they have a team of experienced installers who can get your system up and running quickly.</li>
        <li>Yellowwood Solar: Offers a variety of solar solutions for homes and businesses, including battery storage systems.</li>
        <li>The Mpumalanga Chamber of Commerce and Industry: A non-profit organization that offers a variety of resources for businesses who are considering going solar, including a directory of qualified solar installers.</li>
    </ul>
    
    <h2>Limpopo:</h2>
    <ul>
        <li><a href="https://www.solarturtle.co.za/" target="_blank">SolarTurtle</a>: Offers free consultations and quotes, and they have a team of experienced engineers who can design a system that meets your specific needs.</li>
        <li>Solareff: Offers a variety of solar solutions for homes and businesses, including battery storage systems and financing options.</li>
        <li>The Limpopo Business Chamber: A non-profit organization that offers a variety of resources for businesses who are considering going solar, including a directory of qualified solar installers.</li>
    </ul>
    
    <h2>North West:</h2>
    <ul>
        <li><a href="https://www.sunstreams.co.za/" target="_blank">Sunstreams</a>: Offers free consultations and quotes, and they have a team of experienced installers who can get your system up and running quickly.</li>
        <li>Yellowwood Solar: Offers a variety of solar solutions for homes and businesses, including battery storage systems.</li>
    </ul>
    </div>

    
</body>
</html>
{% endblock %}
