{% load static %}
{% block content %}
<!DOCTYPE html>
<head>
  <br><br><br>
  
  <style>
  body {
    background: url('{% static "img/comingsoon.png" %}');
    background-size: cover;
    background-position: center;
}
h1{
  color: orange;
}
</style>
  
  
      
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<html>
  <body>
  <h1>coming soon</h1>
  
</body>
</html>
<style>
  body {
    background: url('{% static "img/coming.png" %}');
    background-size: cover;
    background-position: center;
}
</style>
{% endblock %}